<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>docsapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/newstyle.css">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Docsapp</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container-fluid">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Requested Id</th>
      <th>Cutomer Id</th>
      <th>Time Elapsed</th>
      <th>Status</th>
      <th>Driver</th>
    </tr>
    </thead>
    <tbody>
    {% for ride in rides %}
    <tr>
      <td>{{ride.request_id}}</td>
      <td>{{ride.customer_id}}</td>
      <td>{{ride.time_elapsed}} mins</td>
      <td>{{ride.status}}</td>
      <td>{% if ride.driver_id == 0 %}None{% else %}{{ride.driver_id}}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <!-- <button type="button" class="btn btn-primary">Refresh</button> -->
  <button type="button" class=""btn btn-primary" onClick="window.location.reload();">Refresh</button>
</div>
</body>
</html>